/* Add CSS Styling */
.odd{
    font-family: Verdana, 'DejaVu Sans', sans-serif ;
    background-color: rgb(255, 128, 128);
}
#three{
    font-size: 24px;
}

#two{
    color: rgb(0, 0, 255);
    font-size: 36px;
}